*.
*.class
.classpath
.project
.settings
.externalToolBuilders
*.swp
*.bak
*~
*.~ml
*.orig
*.rej
*.tlog
*.idea
*.iml
*.ipr
*.iws
.DS_Store

work
target
bin

WEB-INF/classes
WEB-INF/lib

cdeio
src/main/webapp/scripts/main-dist.js
